

.home_info{
    width:100%;
    padding: 30px 0;
}

.home_info .home_content{
    width:95%;
    margin:auto;
    display: flex;
    /* flex-wrap: wrap; */
}
.home_info .home_content .home_img{
    width: 48%;
    /* padding: 10px; */
}
.home_info .home_content .home_img img{}
.home_info .home_content .home_paragraph{
    width: 48%;
    padding-left: 30px;
}
.home_info .home_content .home_paragraph h1{
    text-align: center;
    color: #2e8561;
}
.home_info .home_content .home_paragraph p{
    /* text-align: justify; */
    font-size: 12px;
    line-height: 18px;
    color: #4d4d4d;
}



.image_bg{
    width:100%;
    background:
    url(../../assets/image/background.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    height: 67vh;
}
.image_bg .container {
    height: 100%;
}
.image_bg .bg_info {
    
/* padding: 20px 0; */
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
height: 100%;
}
.image_bg .bg_info .bg_content{
}
.image_bg .bg_info .bg_content .bg_heading{}
.image_bg .bg_info .bg_content .bg_heading h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.image_bg .bg_info .bg_content .bg_paragraph{
    padding: 24px 24px;
    background-color: #2e8561ad;
    border-radius: 13px;
    border: 1px #698cdc80 solid;
}
.image_bg .bg_info .bg_content .bg_paragraph p{
    color: white;
    text-align: justify;
    font-size: 12px;
    line-height: 18px;
}